XRPL_LENDING_URL=wss://lend.devnet.rippletest.net:51233/
AGENT_SECRET=sEdTzva3ZJKWWeYYdwsXwPspwphwCYS
MOCK_BOOKING_DESTINATION=rsNAHkdZAoG7ydctwKmkDFyPX51oLv9f5Q
MOCK_BOOKING_AMOUNT_DROPS=1000000
ELEVENLABS_API_KEY=sk_94ba744515f7269be8c74886d706b2d426a4e0b92d60edc6
ELEVENLABS_STT_URL=https://api.elevenlabs.io/v1/speech-to-text
ELEVENLABS_TTS_URL=https://api.elevenlabs.io/v1/text-to-speech
SOLANA_RPC_URL=https://api.devnet.solana.com
SOLANA_PRIVATE_KEY=
